In [3]:
##This work in progress file combines useful functions for cleaning data sets
    ## File Created 7-21 by Dan Picciotto

#### See Column Headers

In [ ]:
df.columns 
# Shows the titles of columns in data frame, produces as an index and will truncate if there are a lot of columns

#### Select column with dot notation

In [ ]:
col1 = df.col1
#create variable using dot notation

#### Check type of a column and Select column

In [ ]:
col1 = df['col1']
type(col1)
#create variable col1 from df column with same name. Use function type()

#### Select Element from column

In [ ]:
col1[0]
#Using the col1 variale from above, show value at row 0

#### Slice the column

In [ ]:
col1[2:5] 
#Shows values of variable from rows 2-5 with an index

#### Add Column

In [ ]:
Need to Use Dictionairy Function
Ex:
df['col7'] = col3 + col4 /10

#### Clean data columns using replace 
--> create a function that cleans specefic columns

In [ ]:
def cleandf(df):
    col3/= 100.0  --> divide col 3 by 100 and turn into floating point value
    
    na_vals = [97,98,99]  #--> Create variable that stores values we need to match in column in order to replace them. 
    #In this example 97,98,99 are categorical variable that describe an event, as opposed to a data point.
    #For example, birth weights of a baby range from 5-16 or so pounds, 
    #it is imposible to have human baby born at weights of na_vals, 
    #instead they may represent something like not ascertained, refused to provide, or dont know. 
    #Often recoded values. 
    df.col5.replace(na_vals , np.nan, inplace=True) 
    #--> finds values equal to na_vals in column, replaces with numpy nan, using inplace =True, replaces value in the column
    # and does not create a new one

#### Clean column by using loc

In [ ]:
# using example above, we can add another line to the cleandf function
#if there is an impossile outlier, we can replace it. 
# EXample
    df.loc[df.col2 > 20, 'col2'] = np.nan]
    
#the attribute loc allows multiple ways to select rows in columns.
#In this example we are using df.col2>20 to find the rows where col2 has a value over 20.  
# 'col2' , selecting the column labeled col2 
# we will then turn those values into nan values